## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
x_label = 'x'
y_label = 'y'
x = [1, 2, 3, 4, 5, 6]
y = [2, 4.01, 6.5, 8 , 10.5, 11.99]

In [3]:
df = pd.DataFrame()

In [4]:
df[x_label] = x
df[y_label] = y

In [5]:
df

   x      y
0  1   2.00
1  2   4.01
2  3   6.50
3  4   8.00
4  5  10.50
5  6  11.99